## Add system admins
add_ace group.masterUser command allow # allow all commands
add_ace group.masterUser command.quit deny # but don't allow quit

add_principal identifier.fivem:613979 group.masterUser #MateHUN
add_principal identifier.discord:575342593630797825 group.masterUser #MateHUN

add_principal identifier.discord:835937832534540291  group.masterUser # Chips
add_principal identifier.discord:1318460661478723634 group.masterUser # Zsolti 


## Allow framework stuff
add_ace resource.mCore command.add_ace allow
add_ace resource.mCore command.add_principal allow
add_ace resource.mCore command.remove_principal allow
add_ace resource.mCore command.stop allow



add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace resource.addon command.add_ace allow
add_ace resource.addon command.add_principal allow
add_ace resource.addon command.remove_principal allow
add_ace resource.addon command.stop allow

add_ace resource.mCore command.add_ace allow
add_ace resource.mCore command.add_principal allow
add_ace resource.mCore command.remove_principal allow
add_ace resource.mCore command.stop allow

add_ace resource.mate-admin command.add_ace allow
add_ace resource.mate-admin command.add_principal allow
add_ace resource.mate-admin command.remove_principal allow
add_ace resource.mate-admin command.stop allow

add_ace resource.esx_society command.add_ace allow
add_ace resource.esx_society command.add_principal allow
add_ace resource.esx_society command.remove_principal allow
add_ace resource.esx_society command.stop allow

add_ace resource.okokChat command.add_ace allow
add_ace resource.okokChat command.add_principal allow
add_ace resource.okokChat command.remove_principal allow
add_ace resource.okokChat command.stop allow