

# CFX-DEFAULT
ensure spawnmanager

# FrameWork
ensure oxmysql
ensure ox_lib

ensure es_extended
ensure [ESXCORE]

# Resources <ORDER>
ensure [DEPENDENCY]
ensure [UI]
ensure [MATEHUN]
ensure [DMF]
ensure [ADMIN]
ensure [ECONOMY]
ensure [FL]
ensure [DM]
ensure futas


ensure mate-coords
ensure mate-spawnmanager

# Stream Files
# ensure [STREAM]