set steam_webApiKey "none"
set resources_useSystemChat true

# sets sv_pureLevel 1

# ox
# ----------------
setr esx:locale "hu"
setr ox:locale "hu"
setr ox:primaryColor gray
sv_enableColorCodes true



# mCore
# ----------------
setr matehun:global_debug 1

# pma-voice Confighelper
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# security-convars
# ----------------
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 2

# Inventory
# ----------------

setr inventory:slots 80
setr inventory:weight 100000
setr inventory:target false
setr inventory:police ["police"]
setr inventory:autoreload true
setr inventory:screenblur false
setr inventory:keys ["F2","TAB"]
setr inventory:aimedfiring false
setr inventory:giveplayerlist true
setr inventory:weaponanims false
setr inventory:weaponnotify false
setr inventory:itemnotify false
setr inventory:dropprops false
setr inventory:weaponmismatch true
setr inventory:suppresspickups 1
set inventory:randomprices false
set inventory:randomloot false
set inventory:evidencegrade 10 #Disabled
setr inventory:trimplate true

set inventory:accounts ["money"]


set inventory:clearstashes "6 MONTH"



set inventory:webhook "https://discord.com/api/webhooks/1361268285928112248/tFjfimNNuexI2Rg0g6hkqVsUV-x9iUS3XT-Qow8LaLN7Sx4qxqSo2ue2w1qtmERxAq6t"
set inventory:loglevel 2
